<section class="parallax-bg2 parallax colored clearfix marginUp formPage">
	<div class="content dark padded container content3">
		
		<div class="title grid-full">
			<h2>Add/edit your artist's content here</h2>
			<span class="border"></span>
		</div>

		<div class="formWrapper">
			<% if @artist.errors.any? %>
				<div class="message warning">
					<% @artist.errors.full_messages.each do |msg| %>
			   			<%= msg %><br/>
					<% end %>
				</div>
			<% end %>	
			<%= form_for(@artist) do |f| %>
				<div class="accordion" rel="0">
					<div class="accordion-title darkText">
						<h5><span></span><a href="#">Artist Info.</a></h5>
					</div>
					<div class="accordion-inner">
						<div class="lefter">
							<%= f.label :name, class: "formText" %><br/>
		    				<%= f.text_field :name, class: 'email text-area' %>
						</div>
						<div class="lefter">
							<%= f.label :Website_url, class: "formText" %><br/>
				    		<%= f.text_field :website_url, class: 'email text-area' %>
						</div>
						<div class="lefter">
						 	<%= f.label :mugshot, class: "formText"  %><br/><div class="blank"></div>
						 	<%= f.file_field :mugshot %>
						</div>
					</div>
					<div class="accordion-title darkText">
						<h5><span></span><a href="#">Biography.</a></h5>
					</div>
					<div class="accordion-inner">
						<div class="lefter2">
							<%= f.label :bio, class: "formText" %><br />
				    		<%= f.text_area (:bio), class: 'text-areaBio' %>
						</div>
					</div>
				</div>
				<div>
	    		<%= f.submit "Save release", class: "button1" %>
				</div>
			<% end %>
		</div>

		
</section>
