<section class="parallax-bg2 parallax colored clearfix marginUp formPage">
	<div class="content dark padded container content3">
		
		<div class="title grid-full">
			<h2>Add/edit your artist's content here</h2>
			<span class="border"></span>
		</div>

		<div class="formWrapper">
			<% if @artist.errors.any? %>
				<div class="message warning">
					<% @artist.errors.full_messages.each do |msg| %>
			   			<%= msg %><br/>
					<% end %>
				</div>
			<% end %>	
			<%= form_for(@artist) do |f| %>
				<div class="accordion" rel="0">
					<div class="accordion-title darkText">
						<h5><span></span><a href="#">Artist Info.</a></h5>
					</div>
					<div class="accordion-inner">
						<table style="margin-left:30px;">
							<tr>
								<td><%= f.label :name, class: "formText" %></td>
								<td><%= f.label :Website_url, class: "formText" %></td>
								<td><%= f.label 'Mugshot (545px X 545px)', class: "formText"  %></td>
							</tr>
							<tr>
								<td><%= f.text_field :name, class: 'email text-area' %></td>
								<td><%= f.text_field :website_url, class: 'email text-area' %></td>
								<td><%= f.file_field :mugshot %></td>
							</tr>
						</table>
					</div>
					<div class="accordion-title darkText">
						<h5><span></span><a href="#">Biography.</a></h5>
					</div>
					<div class="accordion-inner">
						<table>
							<tr>
								<td><%= f.label :bio, class: "formText" %></td>
							</tr>
							<tr>
								<td><%= f.text_area (:bio), class: 'text-areaBio' %></td>
							</tr>
						</table>
					</div>
				</div>
				<div>
	    		<%= f.submit "Save release", class: "button1" %>
				</div>
			<% end %>
		</div>

		
</section>
