<section class="parallax-bg2 parallax colored clearfix marginUp formPage">
	<div class="content dark padded container content3">
		
		<div class="title grid-full">
			<h2>Add/edit your release content here</h2>
			<span class="border"></span>
		</div>

		<div class="formWrapper">
			<% if @release.errors.any? %>
				<div class="message warning">
					<% @release.errors.full_messages.each do |msg| %>
			   			<%= msg %><br/>
					<% end %>
				</div>
			<% end %>	
			<%= form_for(@release) do |f| %>
				<div class="accordion" rel="0">
					<div class="accordion-title darkText">
						<h5><span></span><a href="#">Product Info.</a></h5>
					</div>
					<div class="accordion-inner">
						<div class="lefter">
							<%= f.label :artist_name, class: "formText" %><br/>
		    				<%= f.text_field :artistname, class: 'email text-area' %>
						</div>
						<div class="lefter">
							<%= f.label :title, class: "formText" %><br/>
				    		<%= f.text_field :title, class: 'email text-area' %>
						</div>
						<div class="lefter">
							<%= f.label :link_release_to_artist?, class: "formText" %><br/><div class="blank"></div>
			    			<%= f.collection_select :artist_id, Artist.order(:name),:id,:name, include_blank: true %>
						</div>
						<div class="lefter">
						 	<%= f.label :packshot, class: "formText"  %><br/><div class="blank"></div>
						 	<%= f.file_field :packshot %>
						</div>
					</div>
					<div class="accordion-title darkText">
						<h5><span></span><a href="#">Sales Info.</a></h5>
					</div>
					<div class="accordion-inner">
						<div class="lefter2">
							<%= f.label :description, class: "formText" %><br />
				    		<%= f.text_area :description, class: 'text-areaArea' %>
						</div>
						<div class="lefter">
							<%= f.label :URL, class: "formText" %><br />
				    		<%= f.text_field :buy_link, class: 'email text-area' %>
						</div>
						<div class="lefter">
							<%= f.label :release_date?, class: "formText" %><br />
			    			<%= f.text_field :release_date, class: 'email text-area'  %>
						</div>
					</div>
					<div class="accordion-title darkText">
						<h5><span></span><a href="#">Press</a></h5>
					</div>
					<div class="accordion-inner">
						<div class="lefter4">
							<div class="lefter5">
								<%= f.label :Press_clipping_1, class: "formText" %><br/>
					    		<%= f.text_area :press1, class: 'text-areaPress' %>
							</div>
							<div class="lefter3">
								<%= f.label :Source, class: "formText" %><br/>
					    		<%= f.text_area :presssource1, class: 'text-area' %>
							</div>
						</div>
						<div class="lefter4">
							<div class="lefter5">
								<%= f.label :Press_clipping_2, class: "formText" %><br/>
					    		<%= f.text_area :press2, class: 'text-areaPress' %>
							</div>
							<div class="lefter3">
								<%= f.label :Source, class: "formText" %><br/>
					    		<%= f.text_area :presssource2, class: 'text-area' %>
							</div>
						</div>
						<div class="lefter4">
							<div class="lefter5">
								<%= f.label :Press_clipping_3, class: "formText" %><br/>
					    		<%= f.text_area :press3, class: 'text-areaPress' %>
							</div>
							<div class="lefter3">
								<%= f.label :Source, class: "formText" %><br/>
					    		<%= f.text_area :presssource3, class: 'text-area' %>
							</div>
						</div>
					</div>
				</div>
				<div>
	    		<%= f.submit "Save release", class: "button1" %>
				</div>
			<% end %>
		</div>

		
</section>
